/* this loops through all the combinded sprites and puts it into our new css file with all
            of each sprites attributes */
/* testing 1, 2, 3 */


{{#shapes}}
    {{#first}}
        .icon {
            background-image: url('/assets/images/sprites/{{{sprite}}}');
        }
    {{/first}}
    .icon--{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-position: {{position.relative.xy}};
    }
{{/shapes}}