
$mainBlue: #2f5572; /* not valid */
  
body {
        color: $mainBlue;  /* not valid */
        padding: 25px;  
        margin: 10px;
        columns: 300px 2;
}

.box {
    a {                     /* this type of nesting is not valid */
        display : block;
        padding: 10px;
    }
}

/* the above gets piped through our 3 filters to get this below...
    1-nested
    2-cssvars
    3-autoprefixer
body {
        color: #2f5572;
        padding: 25px;  
        margin: 10px;
        -webkit-columns: 300px 2;
                columns: 300px 2;
}

.box a {
        display : block;
        padding: 10px;
    }
*/