.generic-content-container {
    p {
        font-weight: 300;
        line-height: 1.65;  /* line-height does not require the measure */
        margin: 0 0 1.8rem 0;
        /* defaults to 1rem */
        
        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p a {    /* descendants rule: any links <a> within a paragraph <p> */
        font-weight: 700;
    }
}